body {
    width:98vw;
    height:95vh;
    background-color: rgb(22, 34, 44);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#main-title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(93, 111, 128);
    font-size: 2.6rem;
}

#calculator {
    width:50%;
    min-width:400px;
    height:70%;
    min-height:600px;
    background-color: rgb(198, 198, 198);
}